<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu9V48u-ZZ6-4M6Az9DUj475dbNr4iY6s</string>
	<key>GCM_SENDER_ID</key>
	<string>962715955432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.base.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodmealgt</string>
	<key>STORAGE_BUCKET</key>
	<string>foodmealgt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962715955432:ios:12e9e36a37396497aa595d</string>
</dict>
</plist>